<h2>Login here</h2>

<form action="/auth/signup" method="post">

<input type="text" name="username" placeholder="Enter your Username">

<input type="password" name="password" placeholder="Enter your Password">

<button type="submit">Login</button>

<a href="/auth/signup">Not a User yet?</a>

</form>