<h2>Sign up here</h2>

<form action="/auth/signup" method="post">

<input type="text" name="username" placeholder="Choose a Username">

<input type="password" name="password" placeholder="Chose a Password">

<button type="submit">Sign up</button>

<a href="/auth/login">Already a User?</a>

</form>