<h1>Welcome {{username}} ! This is your personal space </h1>

<a href="/private"> Look in your private collection</a>

<a href="/main"> Look in your personal cat</a>

<a href="/auth/logout">Logout</a>